<!-- <h1>BigCommerce HQ</h1> -->

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">BigCommerce</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul> -->
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <div id="container" style="height: 400px;"></div>
      <div id="container2" style="height: 400px;"></div>

      <script>
          // Create the chart
          Highcharts.stockChart('container', {
            rangeSelector: {
                selected: 1
            },

            title: {
                text: 'AAPL Stock Price'
            },

            series: [{
                name: 'AAPL',
                data: [
                  [1298851200000,100768479],
                  [1298937600000,114032163],
                  [1299024000000,150647189],
                  [1299110400000,125196764],
                  [1299196800000,113316483],
                  [1299456000000,136530149],
                  [1299542400000,89078955],
                  [1299628800000,113349033],
                  [1299715200000,126972055],
                  [1299801600000,117770016]
                  ],
                tooltip: {
                  valueDecimals: 2
                }
            }],
            responsive: {
              rules: [{
                  condition: {
                      maxWidth: 500
                  },
                  chartOptions: {
                      chart: {
                          height: 300
                      },
                      subtitle: {
                          text: null
                      },
                      navigator: {
                          enabled: false
                      }
                  }
              }]
            }
          });

               Highcharts.stockChart('container2', {
              rangeSelector: {
                  selected: 1
              },

              title: {
                  text: 'AAPL Stock Price'
              },

              series: [{
                  name: 'AAPL',
                  data: [
                    [1298851200000,100768479],
                    [1298937600000,114032163],
                    [1299024000000,150647189],
                    [1299110400000,125196764],
                    [1299196800000,113316483],
                    [1299456000000,136530149],
                    [1299542400000,89078955],
                    [1299628800000,113349033],
                    [1299715200000,126972055],
                    [1299801600000,117770016]
                    ],
                  tooltip: {
                    valueDecimals: 2
                  }
              }]
          });
      </script>
    </main>
  </div>
</div>
