<!-- <h1>BigCommerce HQ</h1> -->

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="https://www.bigcommerce.com/"> 
    <%= image_tag('bc-logo-white.png', :alt => "bigCommerce Logo") %>  
  </a>
  </button>
</nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div id="container" style="height: 400px;"></div>
      <div id="container2" style="height: 400px;"></div>

      <a href="https://www.bigcommerce.com/"> 
        <%= image_tag('bc-logo-black.png', :alt => "bigCommerce Logo") %>
      </a> 
    </main>
  </div>
</div>





























































